# Import libraries

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

# Load datasets

In [4]:
patient_df = pd.read_csv('132/patient.csv', sep = '\t')
station_df = pd.read_csv('132/station.csv', sep= '\t')
observation_df = pd.read_csv('132/observation.csv', sep = '\t')

In [5]:
patient_df.head()

,company,current_location,ssn,name,mail,user_id,residence,username,birthdate,address,registration,blood_group,station_ID
0,小林農林合同会社,"(Decimal('32.168477'), Decimal('9.804478'))",302-73-9054,清水 英樹,takuma47@gmail.com,1770,NaN,snakajima,1937-03-07,岩手県多摩市二つ室27丁目2番7号,2020-08-15,B-,464
1,"Gray, Cunningham and Morales","(Decimal('-80.289857'), Decimal('2.308813'))",499-92-6793,Nicholas Campbell,curtis06@yahoo.com,946,NaN,benjamin02,1993-05-15,"0515 Angela Run\nPort Thomasberg, GU 35535",2018-11-30,A-,109
2,Walter,"(Decimal('63.5169555'), Decimal('-48.876252'))",925-81-9055,Raissa Rose,junkgisbert@yahoo.de,2010,NaN,jkoehler,NaN,Louise-Stey-Platz 79\n88420 Bremervörde,"05/09/2025, 00:00:00",O-,462
3,有限会社遠藤銀行,"(Decimal('-71.015803'), Decimal('140.978474'))",175-19-6965,後藤 知実,morimomoko@gmail.com,1100,NaN,yamaguchikana,2000-08-20,岡山県横浜市青葉区西小来川26丁目5番4号 南郷屋コーポ985,"10/21/2022, 00:00:00",B-,191
4,Munari s.r.l.,"(Decimal('-58.1525245'), Decimal('-120.099037'))",FRSMRL26C50L167Z,Eraldo Anguillara,bpergolesi@poste.it,1247,NaN,guglielmomicheletti,NaN,NaN,2024-11-26,B+,588

In [6]:
station_df.head()

           QoS code  latitude              revision  longitude      station
0         good   JP  36.00000            2020-11-25  139.55722      Okegawa
1    excellent   IN  11.93381  05/24/2021, 00:00:00   79.82979   Puducherry
2  maintenance   DE  52.21099            2022-05-10    7.02238       Gronau
3    excellent   CN  41.09822            2018-01-23  120.74792      Nanpiao
4         good   US  33.54428           08 Jun 2024  -84.23381  Stockbridge

In [8]:
observation_df.head()

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
0,97.538229,87.194745,11.225419,14.812012,42.113735,33.852538,144.504405,100.455727,35.961920,10.302567,...,4.022852,58.317397,49.143701,42.399816,46.497869,0.289012,39.334620,1.0,49.183239,15.454273
1,97.933271,80.787303,11.730935,14.964972,39.537692,65.326035,110.615787,102.133386,36.274352,8.975704,...,4.002043,70.127865,15.557799,46.078137,53.351208,0.290879,26.006709,0.0,33.544280,-84.233810
2,98.209983,79.733895,12.839449,14.840668,39.758706,53.925230,107.208040,104.036654,35.583851,7.653790,...,4.001451,76.139163,53.879956,41.525607,52.124182,0.263171,31.890829,1.0,-27.505780,153.102360
3,98.202790,86.156903,11.204152,14.523288,43.448577,35.227704,143.282224,105.723603,36.463180,8.795732,...,4.015162,49.461570,58.701159,36.535021,50.342830,0.256780,30.721375,1.0,37.656390,126.835000
4,97.951933,78.966258,13.691758,14.992054,39.722280,35.005559,118.524021,98.996494,35.080937,8.388887,...,4.001110,47.065823,52.338305,29.506008,39.480811,0.276094,38.214856,0.0,51.202190,7.360270

lets have a look at the attributes

In [21]:
observation_df.columns

Index(['SpO₂', 'HR', 'PI', 'RR', 'EtCO₂', 'FiO₂', 'PRV', 'BP',
       'Skin Temperature', 'Motion/Activity index', 'PVI', 'Hb level', 'SV',
       'CO', 'Blood Flow Index', 'PPG waveform features',
       'Signal Quality Index', 'Respiratory effort', 'O₂ extraction ratio',
       'SNR', 'oximetry', 'latitude', 'longitude'],
      dtype='object')

In [10]:
station_df.columns

Index(['QoS', 'code', 'latitude', 'revision', 'longitude', 'station'], dtype='object')

In [11]:
patient_df.columns

Index(['company', 'current_location', 'ssn', 'name', 'mail', 'user_id',
       'residence', 'username', 'birthdate', 'address', 'registration',
       'blood_group', 'station_ID'],
      dtype='object')

In [17]:

for column in observation_df.columns:
    if column in station_df.columns:
        print ('observation_df and station_df share column :' + str(column) )
    if column in patient_df.columns:
        print ('observation_df and patient_df share column :' + str(column) )

for column in patient_df.columns:
    if column in station_df.columns:
        print ('station_df and patient_df share column :' + str(column) )

observation_df and station_df share column :latitude
observation_df and station_df share column :longitude

we can see that observation and station dataframes might be joinable via coordinates
but after manual revision we can see that patient.station_ID will probably map to station ids

before joining the datasets, lets perform some basic EDA

# 1.1 Základný opis dát spolu s ich charakteristikami

## A) Analyza struktur dat ako subory + zaznamy

station_df

In [31]:
station_df.head()

           QoS code  latitude              revision  longitude      station
0         good   JP  36.00000            2020-11-25  139.55722      Okegawa
1    excellent   IN  11.93381  05/24/2021, 00:00:00   79.82979   Puducherry
2  maintenance   DE  52.21099            2022-05-10    7.02238       Gronau
3    excellent   CN  41.09822            2018-01-23  120.74792      Nanpiao
4         good   US  33.54428           08 Jun 2024  -84.23381  Stockbridge

In [18]:
station_df.shape

(703, 6)

In [22]:
station_df.columns

Index(['QoS', 'code', 'latitude', 'revision', 'longitude', 'station'], dtype='object')

In [23]:
station_df.dtypes

QoS           object
code          object
latitude     float64
revision      object
longitude    float64
station       object
dtype: object

In [24]:
#2 nas, not bad
station_df.isna().sum()

QoS          0
code         2
latitude     0
revision     0
longitude    0
station      0
dtype: int64

In [30]:
station_df[station_df['code'].isna()]

             QoS code  latitude              revision  longitude    station
274  maintenance  NaN -21.98333  02/23/2016, 00:00:00   16.91667  Okahandja
318         good  NaN -21.98333           06 Dec 2021   16.91667  Okahandja

In [33]:
#mby there is valid code for Okahandja?
station_df[station_df['station'] == 'Okahandja']
#there is not :(

             QoS code  latitude              revision  longitude    station
274  maintenance  NaN -21.98333  02/23/2016, 00:00:00   16.91667  Okahandja
318         good  NaN -21.98333           06 Dec 2021   16.91667  Okahandja

In [25]:
station_df.nunique()

QoS            4
code          98
latitude     498
revision     683
longitude    497
station      498
dtype: int64

In [27]:
#prob useless
station_df.describe()

         latitude   longitude
count  703.000000  703.000000
mean    28.699220   16.946846
std     24.406067   70.122555
min    -44.396720 -156.474320
25%     14.354040  -14.410810
50%     36.650000   13.321270
75%     47.432685   71.552920
max     65.848110  171.253640

patient df

In [34]:
patient_df.head()

,company,current_location,ssn,name,mail,user_id,residence,username,birthdate,address,registration,blood_group,station_ID
0,小林農林合同会社,"(Decimal('32.168477'), Decimal('9.804478'))",302-73-9054,清水 英樹,takuma47@gmail.com,1770,NaN,snakajima,1937-03-07,岩手県多摩市二つ室27丁目2番7号,2020-08-15,B-,464
1,"Gray, Cunningham and Morales","(Decimal('-80.289857'), Decimal('2.308813'))",499-92-6793,Nicholas Campbell,curtis06@yahoo.com,946,NaN,benjamin02,1993-05-15,"0515 Angela Run\nPort Thomasberg, GU 35535",2018-11-30,A-,109
2,Walter,"(Decimal('63.5169555'), Decimal('-48.876252'))",925-81-9055,Raissa Rose,junkgisbert@yahoo.de,2010,NaN,jkoehler,NaN,Louise-Stey-Platz 79\n88420 Bremervörde,"05/09/2025, 00:00:00",O-,462
3,有限会社遠藤銀行,"(Decimal('-71.015803'), Decimal('140.978474'))",175-19-6965,後藤 知実,morimomoko@gmail.com,1100,NaN,yamaguchikana,2000-08-20,岡山県横浜市青葉区西小来川26丁目5番4号 南郷屋コーポ985,"10/21/2022, 00:00:00",B-,191
4,Munari s.r.l.,"(Decimal('-58.1525245'), Decimal('-120.099037'))",FRSMRL26C50L167Z,Eraldo Anguillara,bpergolesi@poste.it,1247,NaN,guglielmomicheletti,NaN,NaN,2024-11-26,B+,588

In [35]:
patient_df.shape

(2197, 13)

In [37]:
patient_df.columns

Index(['company', 'current_location', 'ssn', 'name', 'mail', 'user_id',
       'residence', 'username', 'birthdate', 'address', 'registration',
       'blood_group', 'station_ID'],
      dtype='object')

In [40]:
patient_df.dtypes

company              object
current_location     object
ssn                  object
name                 object
mail                 object
user_id               int64
residence           float64
username             object
birthdate            object
address              object
registration         object
blood_group          object
station_ID            int64
dtype: object

In [42]:
patient_df.isna().sum()
#residence is full NaN so it will be dropped, birthdate and address probably too,
#current location needs to be processed

company                0
current_location     110
ssn                    0
name                   0
mail                   0
user_id                0
residence           2197
username               0
birthdate            989
address              330
registration           0
blood_group            0
station_ID             0
dtype: int64

In [43]:
patient_df.nunique()
#many unique values

company             1989
current_location    2087
ssn                 2197
name                2131
mail                2192
user_id             1407
residence              0
username            2175
birthdate           1189
address             1867
registration        1987
blood_group            8
station_ID           677
dtype: int64

In [44]:
patient_df.describe()
#also useless

           user_id  residence   station_ID
count  2197.000000        0.0  2197.000000
mean   1105.308603        NaN   348.892126
std     644.728055        NaN   205.367454
min       0.000000        NaN     0.000000
25%     547.000000        NaN   172.000000
50%    1118.000000        NaN   340.000000
75%    1668.000000        NaN   536.000000
max    2196.000000        NaN   702.000000

observation df

In [45]:
observation_df.head()

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
0,97.538229,87.194745,11.225419,14.812012,42.113735,33.852538,144.504405,100.455727,35.961920,10.302567,...,4.022852,58.317397,49.143701,42.399816,46.497869,0.289012,39.334620,1.0,49.183239,15.454273
1,97.933271,80.787303,11.730935,14.964972,39.537692,65.326035,110.615787,102.133386,36.274352,8.975704,...,4.002043,70.127865,15.557799,46.078137,53.351208,0.290879,26.006709,0.0,33.544280,-84.233810
2,98.209983,79.733895,12.839449,14.840668,39.758706,53.925230,107.208040,104.036654,35.583851,7.653790,...,4.001451,76.139163,53.879956,41.525607,52.124182,0.263171,31.890829,1.0,-27.505780,153.102360
3,98.202790,86.156903,11.204152,14.523288,43.448577,35.227704,143.282224,105.723603,36.463180,8.795732,...,4.015162,49.461570,58.701159,36.535021,50.342830,0.256780,30.721375,1.0,37.656390,126.835000
4,97.951933,78.966258,13.691758,14.992054,39.722280,35.005559,118.524021,98.996494,35.080937,8.388887,...,4.001110,47.065823,52.338305,29.506008,39.480811,0.276094,38.214856,0.0,51.202190,7.360270

In [46]:
observation_df.shape

(12177, 23)

In [47]:
observation_df.columns

Index(['SpO₂', 'HR', 'PI', 'RR', 'EtCO₂', 'FiO₂', 'PRV', 'BP',
       'Skin Temperature', 'Motion/Activity index', 'PVI', 'Hb level', 'SV',
       'CO', 'Blood Flow Index', 'PPG waveform features',
       'Signal Quality Index', 'Respiratory effort', 'O₂ extraction ratio',
       'SNR', 'oximetry', 'latitude', 'longitude'],
      dtype='object')

In [48]:
observation_df.dtypes

SpO₂                     float64
HR                       float64
PI                       float64
RR                       float64
EtCO₂                    float64
FiO₂                     float64
PRV                      float64
BP                       float64
Skin Temperature         float64
Motion/Activity index    float64
PVI                      float64
Hb level                 float64
SV                       float64
CO                       float64
Blood Flow Index         float64
PPG waveform features    float64
Signal Quality Index     float64
Respiratory effort       float64
O₂ extraction ratio      float64
SNR                      float64
oximetry                 float64
latitude                 float64
longitude                float64
dtype: object

In [49]:
observation_df.isna().sum()
#great

SpO₂                     0
HR                       0
PI                       0
RR                       0
EtCO₂                    0
FiO₂                     0
PRV                      0
BP                       0
Skin Temperature         0
Motion/Activity index    0
PVI                      0
Hb level                 0
SV                       0
CO                       0
Blood Flow Index         0
PPG waveform features    0
Signal Quality Index     0
Respiratory effort       0
O₂ extraction ratio      0
SNR                      0
oximetry                 0
latitude                 0
longitude                0
dtype: int64

In [50]:
observation_df.nunique()
#makes sense, only oximetry, latitude and longitude are not completely unique

SpO₂                     11997
HR                       11997
PI                       11997
RR                       11997
EtCO₂                    11997
FiO₂                     11997
PRV                      11997
BP                       11997
Skin Temperature         11997
Motion/Activity index    11997
PVI                      11997
Hb level                 11997
SV                       11997
CO                       11997
Blood Flow Index         11997
PPG waveform features    11997
Signal Quality Index     11997
Respiratory effort       11997
O₂ extraction ratio      11997
SNR                      11997
oximetry                     2
latitude                   498
longitude                  497
dtype: int64

In [51]:
observation_df.describe()

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
count,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,...,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000,12177.000000
mean,97.336001,83.397242,10.360642,16.158948,40.235152,58.821759,117.675964,104.591413,35.426048,9.436818,...,4.078126,52.640590,46.734247,47.572094,49.788653,0.249557,29.994576,0.597602,28.701943,17.028640
std,0.657577,7.609815,2.417855,1.398210,1.715679,12.119443,21.841513,4.088282,0.619283,0.998907,...,0.222547,13.127091,13.374194,13.487056,13.006681,0.028947,5.765251,0.490401,24.402668,70.059129
min,95.000000,60.000000,0.200000,12.000000,35.000000,21.000000,20.000000,90.000000,33.000000,5.652322,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.200000,20.000000,0.000000,-44.396720,-156.474320
25%,96.895657,77.573676,8.800161,15.044708,38.749846,49.328258,103.101631,101.857377,35.007462,8.766904,...,4.000762,43.996467,37.650597,38.396055,40.992562,0.224466,24.978691,0.000000,14.082300,-13.235600
50%,97.332851,84.323757,10.365288,15.979021,40.531056,59.402365,117.695370,104.604980,35.424762,9.432476,...,4.007395,52.709829,46.733166,47.810036,49.742898,0.249072,30.094799,1.000000,36.650000,13.321270
75%,97.776356,89.763115,11.893853,17.393451,41.590048,68.437184,132.088845,107.321633,35.845164,10.105665,...,4.064212,61.440013,55.671672,56.736043,58.630016,0.274733,34.961220,1.000000,47.484440,71.577370
max,100.000000,100.000000,20.000000,20.000000,45.000000,100.000000,200.000000,120.000000,38.000000,13.997052,...,8.000000,100.000000,100.000000,100.000000,100.000000,0.300000,40.000000,1.000000,65.848110,171.253640